.body{
    padding: 0 20px 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.profile-title{
    font-size: 25px;
    color: #98DFFD;
}

.img-div{
    background-color: rgba(217, 217, 217, 0.05);
    border: 1px solid rgba(255, 242, 242, 0.08);
    border-radius: 15px;
}

.profile-name{
    color: #858BE3;
    font-size: 25px;
}

.profile-skills{
    color: white;
}

.info-1{
    margin-bottom: 20px;
}

.biography{
    color: white;
    margin-bottom: 20px;
}

.professional-skills{
    color: white;
    margin-bottom: 20px;
}

.studies{
    color: white;
    margin-bottom: 20px;
}

.all-info-profile{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.my-projects-section{
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow-x: auto;
    max-width: 350px;
    gap: 20px;

}

@media (min-width:768px){
    .all-info-profile{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        max-width: 80%;
    }
    .info{
        max-width: 500px;
    }

    .my-projects-section{
        max-width: 860px;
        min-width: 860px;
        margin: 0 auto;
        justify-content: center;
    }
}