.navbar-space{
    height: 50px;
}

.body{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    padding: 0% 5%;
}

.slogan-img{
    margin-top: 3%;
    max-width: 70%;
}

.home-title{
    font-size: 200%;
    color: #98DFFD;
    margin-bottom: 5%;
}

.whoweare-section{
    gap: 110px;
}

.info-cards{
    gap: 50px;
    margin-left: 0;
}

.infocards-section{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.infocards-p{
    color: white;
    font-size: 90%;
    margin-bottom: 5%;
}


.blue-card{
    display: none;
}

.ourteam-section{
    display: flex;
    flex-direction: column;
}

.profile-cards{
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    max-width: 350px;
    gap: 20px;
}

.service-cards{
    gap: 10px;
    display: flex;
    flex-direction: row;
    font-size: 15px;
    max-width: 360px;
    overflow-x: auto;
}

.ourskills-section{
    display: flex;
    flex-direction: column;
    align-items: start;
}

.skills-cards {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 30px;
}

.skills-cards img{
    max-width: 45px;
    max-height: 45px;
}

@media (min-width:768px){
    .home-title{
        font-size: 400%;
        margin-bottom: 2%;
        margin-top: 2%;
    }

    .info-cards{
        font-size: 230%;
        padding: 0px 50px;
    }

    .infocards-p{
        font-size: 250%;
    }

    .slogan-img{
        margin-top: 5%;
        max-width: 70%;
    }

    .blue-card{
        display: flex;
        background-color: #5997F3;
        width: 100%;
        border-radius: 50px;

    }
    
    .blue-card-text{
        font-family: 'Poppins', sans-serif;
        color: white;
        font-size: 100%;   
        height: 250px;
        font-size: 320%;
        text-align: center;
        margin-top: 4%;
        padding: 0px 200px;
    }

    .profile-cards{
        width: 200%;    
    }

    .infocards-section{
        display: flex;
        flex-direction: row-reverse;
        gap: 50px;
    }

    .img-allgroup{
        margin-top: 10%;
        margin-right: 5%;
        max-width: 90%;
    }

    .profile-cards{
        max-width: 2300px;
    }
    
    .service-cards{
        gap: 50px;
        font-size: 200%;
        max-width: 2300px;
    }

    .ourskills-section{
        display: flex;
        flex-direction: column;
        align-items: start;
    }

    .ourskills-section {
        min-width: 2300px;
    }

    .skills-cards {
        min-width: 2000px;
        margin-left: 200px;
        grid-template-columns: repeat(8, 1fr);
        gap: 100px;
    }

    .skills-cards img{
        max-width: 100%;
        max-height: 100%;
    }
}