/* Estilos para el título del portafolio */
.title-portfolio {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 28px;
    font-style: normal;
    color: #98DFFD;
    text-shadow: 1px 1px 1px #00000091;
    justify-content: center;
    display: flex;
    margin-top: 15%;
}

/* Estilos para el contenedor de los componentes del portafolio */
.component-portfolio {
    display: flex;
    margin-bottom: 10%;
    margin-top: 10%;
    flex-direction: column;
    gap: 45px;
}

/* Estilos para la primera parte del texto */
.first-part-text {
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 10;
    font-style: normal;
    text-align: center;
    padding: 3% 7%;
    font-size: 13px;
}

.project-types{
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}

/* Estilos para la cuarta parte del texto */
.four-part-text {
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    display: none;
}

/* Estilos para la última parte */
.last-part {
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    display: none;
}

/* Estilos para el botón del menú hamburguesa */
.hamburguer-btn {
    background-color: rgba(0, 0, 0, 0);
    border: none;
}

/* Estilos para la imagen del menú hamburguesa */
.hamburguer-img {
    width: 20px;
    height: 20px;
}

/* Estilos para el contenedor del buscador y filtro */
.input-filter {
    display: flex;
    align-items: center;
    padding: 10px 10px;
    margin-left: 8.5%;
    gap: 30px;
}

/* Estilos para el contenedor del buscador */
.search-container {
    background-color: #a3a7e5;
    border: 3px solid #5997F3;
    border-radius: 6px;
    height: 3rem;
    width: 50rem; /* Ajusta este ancho según sea necesario para dispositivos móviles */
    padding: 10px 10px;
    font-family: "Poppins", sans-serif;
    cursor: pointer;
    
    display: flex;
    justify-content: center; /* Centra el contenido horizontalmente */
    align-items: center; /* Centra el contenido verticalmente */
    margin: 0 auto; /* Centra el contenedor */
}



/* Estilos para el input del buscador */
.input-portfolio {
    border: 1px solid ; /* Hacer el borde invisible */
    background-color:  rgb(133, 139, 227, 0.50); /* Fondo transparente */
    border-radius: 8px;
    height: 34px;
    margin-top: 9%;
    width: 40vw;
    color: #5997F3; /* Color del texto */
    padding: 0 10px; /* Añadir padding para que el texto no esté pegado a los bordes */
}

.input-portfolio::placeholder {
    color: #5997F3;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 15px;
    font-style: normal;
}

/* Estilos para el select del filtro */
.filter-select {
    background-color: rgb(133, 139, 227, 0.50);
    border: 1px solid #5997F3;
    border-radius: 8px;
    height: 8.1vw;
    width: 30vw;
    padding: 5px 10px;
    font-family: "Poppins", sans-serif;
    color: #5997F3;
    cursor: pointer;
    text-align: center;
    display: flex;
    margin-top: 11.5%;
    font-size: 12px;
    
}

/* Estilos para las opciones del filtro select */
.filter-select option {
    background-color: rgba(75, 0, 130, 0.5);
    color: #FFFFFF;
}

/* Estilos para el banner del portafolio en dispositivos de escritorio */
.pet-banner {
    display: none;
}

/* Estilos para el texto del título del portafolio */
.title-text-portfolio {
    display: flex;
    flex-direction: column;
}

/* Estilos para el texto del banner del portafolio */
.title-text-banner {
    display: flex;
    flex-direction: column;
}

.option-one{
    text-align: center;
}

.behance-link{
    border: 2px solid #FF51F8;
    border-radius: 5px;
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-top: 3%;
    display: flex;
    justify-content: center;
    width: 26%;
}

.decoration-portfolio1{
    display: none;
}

.decoration-portfolio2{
    display: none;
}

/* Estilos para el texto del conteo de proyectos */
.project-count-text {
    color: #FFFFFF;
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    font-weight: 400;
    margin-left: 35%;
}

/* Estilos para dispositivos de escritorio */
@media (min-width: 768px) {
    /* Estilos para el texto del título del portafolio */
    .title-text-portfolio {
        display: flex;
        flex-direction: column;
        margin-left: 8%;
    }

    /* Estilos para el texto del banner del portafolio */
    .title-text-banner {
        display: flex;
        flex-direction: row;
    }

    /* Estilos para el título del portafolio */
    .title-portfolio {
        font-family: "Poppins", sans-serif;
        font-size: 96px;
        font-style: normal;
        text-shadow: 3px 3px 3px #00000091;
        justify-content: flex-start;
        display: flex;
        color: #98DFFD;
        margin-left: 2%;
        margin-top: 10%;
        margin-bottom: 5%;
    }

    /* Estilos para el banner del portafolio */
    .pet-banner {
        display: flex;
        height: 600px;
        margin-right: 10%;
        margin-top: 3%;
    }

    /* Estilos para la primera parte del texto */
    .first-part-text {
        color: white;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    display: block;
    width: 80%;
    font-size: 27px;
    text-align: justify;
    margin-left: -4.5%;
    margin-top: -5%;
    }

    /* Estilos para la tercera parte del texto */
    .third-part-text {
        color: white;
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        font-style: normal;
        display: none;
    }

    /* Estilos para la clase 'disapear' */
    .disapear {
        display: block;
    }

    /* Estilos para el párrafo */
    .pharagraph {
        display: flex;
        flex-direction: column;
    }

    /* Estilos para el contenedor de los componentes del portafolio */
    .component-portfolio {
        display: flex;
        margin-top: 2%;
        width: 68%;
        margin-left: 16%;
        flex-direction: column;
        gap: 30px;
        align-items: center;
    }

    .input-filter {
        display: flex;
        justify-content: center; 
        align-items: center;
        margin-left: -1%; 
    }

    .filter-select {
        background-color: rgb(133, 139, 227, 0.50);
        border: 1px solid #5997F3;
        border-radius: 8px;
        height: 2vw;
        width: 8vw;
        padding: 10px 10px;
        font-family: "Poppins", sans-serif;
        color: #FFFFFF;
        cursor: pointer;
        text-align: center;
        margin-top: 4%;
    }
    
    /* Estilos para las opciones del filtro select */
    .filter-select option {
        background-color: rgba(75, 0, 130, 0.5);
        color: #FFFFFF;
    }

    .input-portfolio {
    border: 1px solid;
    background-color: rgb(133, 139, 227, 0.50);
    border-radius: 8px;
    height: 42px;
    outline: none;
    margin-top: 1%;
    width: 30vw;
    color: #5997F3;
    padding: 0 10px;
    font-size: 32px;
    }

    .input-portfolio::placeholder {
        color: #5997F3;
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        font-size: 18px;
        font-style: normal;
    }

    .behance-link{
        border: 2px solid #FF51F8;
        border-radius: 5px;
        color: white;
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        font-style: normal;
        margin-top: 2%;
        display: flex;
        justify-content: center;
        width: 26%;
    }

    .decoration-portfolio1{
        display: block;
        width: 12vw;
        position: absolute;
        top: 754px;
        z-index: 10;
    }
    
    .decoration-portfolio2{
        display: block;
        width: 12vw;
        position: absolute;
        top: 1228px;
        right: -1px;
        z-index: 10;
    }
    
    .project-types{
        color: white;
        font-family: "Poppins", sans-serif;
        font-weight: 300;
        font-style: normal;
        margin-top: -2.5%;
    }
   
    .project-count-text {
    color: #FFFFFF;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-weight: 400;
    margin-left: 0%;
}


}