.title-ux{
    font-family: "Poppins", sans-serif;
        font-weight: 700;
        font-size: 25px;
        font-style: normal;
        color: #98DFFD;
        right: 92px;
        position: absolute;
        top: 88px;
        text-shadow: 1px 1px 1px #00000091;
}
.hamburguer-btn{
    background-color: rgba(0, 0, 0, 0);
    border: none;
}


.hamburguer-img{
    width: 20px;
    height: 20px;
}


.banner-img{
    width: 439px;
    height: 143px;
    margin-left: 0%;
   
}

.sec-banner-img {
    display: flex;
    justify-content: center; /* Centra la imagen horizontalmente */
    align-items: center; /* Centra la imagen verticalmente si el contenedor tiene una altura fija */
    margin-top: 20px; /* Ajusta este valor según el espacio que necesites entre la imagen y el título */
 /* Asegura que el contenedor ocupe todo el ancho disponible */
    box-sizing: border-box; /* Incluye el padding y el borde en el tamaño total del elemento */
    height: auto; 
    margin-left: 8.5%;
}



.components-sec{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
    margin-top: 5%;
}

.web-ux-img{
    display: none;
}

.decoration-uxservice{
    display: none;
}

@media (min-width:768px){
    .title-ux{
        font-family: "Poppins", sans-serif;
        font-weight: 700;
        font-size: 96px;
        font-style: normal;
        color: #98DFFD;
        position: absolute;
        text-shadow: 1px 1px 1px #00000091;
        left: 603px;
    }
    .hamburguer-btn{
        background-color: rgba(0, 0, 0, 0);
        border: none;
    }
    
    
    .hamburguer-img{
        width: 20px;
        height: 20px;
        display: none;
    }
    
    
    .banner-img{
        width: 100%;
        height: 210px;
    }
    
    .sec-banner-img{
        margin-left: 56.5%;
        display: none;
        width: 538px;
        height: 462px;
        top: 598px;
        
    }
    
    
    
  
    .components-sec{
        width: 46%;
        margin: 0;
        padding-left: 230px;
        margin-top: 3%;
        margin-bottom: 2%;
    }
    

    .mid-page{
        display: flex;
        flex-direction: row;
    }

    .web-ux-img-container {
        display: flex;
        justify-content: flex-end; /* Alinea el contenido a la derecha */
        padding-right: 20px; /* Añade padding derecho para separación del borde de la pantalla */
    }
    
    .web-ux-img {
        max-width: 83%;
        height: auto;
        display: block;
        padding: 6%;
        max-height: 93%;
        margin-top: 4%;
    }

    .sec-midpage{
        display: flex;
        flex-direction: row;
        margin-bottom: 3%;
        margin-top: 3%;
        
    }

    .decoration-uxservice{
        display: block;
        width: 9vw;
        position: absolute;
        top: 310px;
        right: 2px;
    }


};