.service-card{
    min-width: 170px;
    min-height: 200px;
    background: linear-gradient(to right, #5997F3, #613DC1);
    border-radius: 10px;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
}

.service-card img{
    margin: 0;
    min-width: 170px;
    min-height: 150px;
}

.service-card p{
    color: white;
}

@media (min-width:768px){

 .service-card{
    min-width: 800px;
    min-height: 300px;  
    border-radius: 20px;      
}  

 .service-card img{
    margin: 0;
    min-width: 800px;
    max-height: 500px;
}

.service-card p{
    font-size: 150%;
}
}
