.header{
    background-color: #1B1541;
    display: flex;
    flex-direction: row;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 70px;
    padding: 20px;
}

.burguer-menu img{
    width: 25px;
    height: 20px;
}

.list-navbar{
    display: none;
}

.logo{
    display: none;
}

@media (min-width:768px){

    .header{
        display: flex;
        flex-direction: row;
        height: 10%;
    }

    .list-navbar{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 800px;
        font-size: 180%;
    }

    .logo{
        display: flex;
        width: 60px;
        height: 60px;
        margin-left: 5%;
    }

    .burguer-menu{
        display: none;
    }
}