.section-img img{
    max-height: 200px;
    min-height: 200px;
}

.section-img{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 150px;
    min-width: 200px;
    background-color: rgba(217, 217, 217, 0.05);
    border: 1px solid rgba(255, 242, 242, 0.08);
    border-radius: 15px;
    margin-bottom: 20px;
}

.section-img p{
    text-align:center;
    background-color: #5997F3;
    color: white;
    min-width: 200px;
    border-radius: 0 0 15px 15px;
}

@media (min-width:768px){

    .section-img img{
        max-height: 300px;
        min-height: 300px;
    }

    .section-img{
        max-width: 300px;
        min-width: 300px;
        min-height: 300px;
    }

    .section-img p{
        min-width: 300px;
    }
}