.banner-admin {
    display: block;
    margin: 20px auto; /* Añade margen superior e inferior para espacio */
    max-width: 70%;
    height: auto;
    margin-left: 20%;
}

.container-adminpanel {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #2B275A;
    padding: 5%;
    border-radius: 20px;
    margin: 10% auto;
    width: 90%;
    max-width: 800px;
    box-sizing: border-box;
}

.title-admin {
    font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 28px;
  font-style: normal;
  color: #98DFFD;
  text-shadow: 1px 1px 1px #00000091;
  justify-content: center;
  display: flex;
}



.inputs-admin {
    display: flex;
    flex-direction: row;
    border: 1px solid #5997F3;
    background-color: rgba(133, 139, 227, 0.50);
    border-radius: 8px;
    height: 34px;
    width: 72vw;
    outline: none;
    margin-bottom: 15px; /* Añade margen inferior a cada input */
    padding: 0 10px; /* Añade padding interno para separar el placeholder */
    color: white;
}



.inputs-admin::placeholder {
    color: #5997F3;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 15px;
    font-style: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.inputs-contain {
    display: flex;
    flex-direction: column;
    gap: 15px; /* Añade espacio entre los inputs */
    padding: 10px; /* Añade padding para más espacio alrededor */
}

.btn-login{
    background-color: #FF51F8;
  color: white;
  border: 0;
  box-shadow: -1px -1px 15px #ff51f949, 1px 1px 15px #ff51f949;
  width: 120px;
  height: 30px;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.admin-form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.decoration-service-admin1{
    display: none;
}

.decoration-service-admin2{
    display: none;
}

.error-message{
    color: white;
    text-decoration: underline;
}



@media (min-width: 768px) {
    .banner-admin {
        display: block;
        margin: 20px auto; /* Añade margen superior e inferior para espacio */
        max-width: 70%;
        height: auto;
        margin-left: 20%;
    }
    
    .container-adminpanel {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #2B275A;
        padding: 5%;
        border-radius: 20px;
        margin: 10% auto;
        width: 90%;
        max-width: 800px;
        box-sizing: border-box;
    }
    
    .title-admin {
        font-family: "Poppins", sans-serif;
      font-weight: 700;
      font-size: 28px;
      font-style: normal;
      color: #98DFFD;
      text-shadow: 1px 1px 1px #00000091;
      justify-content: center;
      display: flex;
    }
    
    
    
    .inputs-admin {
        display: flex;
        flex-direction: row;
        border: 1px solid #5997F3;
        background-color: rgba(133, 139, 227, 0.50);
        border-radius: 8px;
        height: 34px;
        width: 25vw;
        outline: none;
        margin-bottom: 15px; /* Añade margen inferior a cada input */
        padding: 0 10px; 
        color: white;/* Añade padding interno para separar el placeholder */
    }
    
    
    
    .inputs-admin::placeholder {
        color: #5997F3;
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        font-size: 15px;
        font-style: normal;
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
    }
    
    .inputs-contain {
        display: flex;
        flex-direction: column;
        gap: 15px; /* Añade espacio entre los inputs */
        padding: 10px; /* Añade padding para más espacio alrededor */
    }
    
    .btn-login{
        background-color: #FF51F8;
      color: white;
      border: 0;
      box-shadow: -1px -1px 15px #ff51f949, 1px 1px 15px #ff51f949;
      width: 120px;
      height: 30px;
      border-radius: 10px;
      display: flex;
      flex-direction: row;
      justify-content: center;
    }
    
    .admin-form{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .decoration-service-admin1{
        display: block;
        width: 10vw;
        position: absolute;
        top: 113px;
    }
    
    .decoration-service-admin2{
        display: block;
        width: 10vw;
        position: absolute;
        top: 404px;
        right: 1px;
    }

    .error-message{
        color: white;
        text-decoration: underline;
        display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center;
    }
    
}


