.banner-upload{
    display: block;
    margin: 20px auto; /* Añade margen superior e inferior para espacio */
    max-width: 70%;
    height: auto;
    margin-left: 20%;
}

.title-upload{
    font-family: "Poppins", sans-serif;
        font-weight: 700;
        font-size: 28px;
        font-style: normal;
        color: #98DFFD;
        text-shadow: 1px 1px 1px #00000091;
        justify-content: center;
        display: flex;
       
}

.container-upload{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #2B275A;
    padding: 5%;
    border-radius: 20px;
    margin: 10% auto;
    width: 90%;
    max-width: 800px;
    box-sizing: border-box;
}


label{
    color: #858BE3;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 15px;
    font-style: normal;

}

.form-upload{
  display: flex;
  flex-direction: column;
  gap: 1px;
  width: 100%;
  align-self: flex-start;
}


.inputs-upload{
    gap: 10px;
}

.subtitle-upload{
    color: #858BE3;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 15px;
    font-style: normal;
    align-self: flex-start; /* Alinea el subtítulo al inicio */
    margin-bottom: 10px;
    margin-top: 10px;
   
}

.sec-checklist{
    display: block;
    width: 102%;
}

.secsubtitle-upload{
    color: #858BE3;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 15px;
    font-style: normal;
    align-self: flex-start; /* Alinea el subtítulo al inicio */
    margin-bottom: 10px;
   
    
}


.list-check2{
    display: grid;
  
  width: 100%;
    gap: 2px;
  margin-top: 5px;
  
}


.list-check1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2px; /* Añade espacio entre los elementos */
    margin-top: 5px; /* Añade margen superior */
    width: 100%; /* Ajusta el ancho al contenedor padre */
}

.btn-upload{
    background-color: #FF51F8;
    color: white;
    border: 0;
    box-shadow: -1px -1px 15px #ff51f949, 1px 1px 15px #ff51f949;
    width: 120px;
    height: 30px;
    border-radius: 10px;
    margin-top: 15px;
}

.btn-logout{
    background-color: #FF51F8;
    color: white;
    border: 0;
    box-shadow: -1px -1px 15px #ff51f949, 1px 1px 15px #ff51f949;
    width: 120px;
    height: 30px;
    border-radius: 10px;
    margin-top: 15px;
}

.buttons-upload{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

@media (min-width: 768px){

    .banner-upload{
        display: block;
        margin: 20px auto; /* Añade margen superior e inferior para espacio */
        max-width: 70%;
        height: auto;
        margin-left: 20%;
    }
    
    .title-upload{
        font-family: "Poppins", sans-serif;
            font-weight: 700;
            font-size: 28px;
            font-style: normal;
            color: #98DFFD;
            text-shadow: 1px 1px 1px #00000091;
            justify-content: center;
            display: flex;
           
    }
    
    .container-upload{
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #2B275A;
        padding: 5%;
        border-radius: 20px;
        margin: 10% auto;
        width: 90%;
        max-width: 800px;
        box-sizing: border-box;
    }
    
    
    label{
        color: #858BE3;
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        font-size: 15px;
        font-style: normal;
    
    }
    
    .form-upload{
      display: flex;
      flex-direction: column;
      gap: 1px;
      width: 100%;
      align-self: flex-start;
    }
    
    
    .inputs-upload{
        gap: 10px;
    }
    
    .subtitle-upload{
        color: #858BE3;
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        font-size: 15px;
        font-style: normal;
        align-self: flex-start; /* Alinea el subtítulo al inicio */
        margin-bottom: 10px;
        margin-top: 10px;
       
    }
    
    .sec-checklist{
        display: block;
        width: 102%;
    }
    
    .secsubtitle-upload{
        color: #858BE3;
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        font-size: 15px;
        font-style: normal;
        align-self: flex-start; /* Alinea el subtítulo al inicio */
        margin-bottom: 10px;
       
        
    }
    
    
    .list-check2{
        display: grid;
      
      width: 100%;
        gap: 2px;
      margin-top: 5px;
      
    }
    
    
    .list-check1 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2px; /* Añade espacio entre los elementos */
        margin-top: 5px; /* Añade margen superior */
        width: 100%; /* Ajusta el ancho al contenedor padre */
    }

    .btn-upload{
        background-color: #FF51F8;
        color: white;
        border: 0;
        box-shadow: -1px -1px 15px #ff51f949, 1px 1px 15px #ff51f949;
        width: 120px;
        height: 30px;
        border-radius: 10px;
        margin-top: 15px;
    }
    
    .btn-logout{
        background-color: #FF51F8;
        color: white;
        border: 0;
        box-shadow: -1px -1px 15px #ff51f949, 1px 1px 15px #ff51f949;
        width: 120px;
        height: 30px;
        border-radius: 10px;
        margin-top: 15px;
    }
    
    .buttons-upload{
        display: flex;
        flex-direction: row;
        gap: 10px;
    }
    
    


    
    }
