@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

.infotext-ourservices h5{
    font-family: 'Poppins', sans-serif;
    font-weight:bolder;
    font-size: 80px;
    color: #98DFFD;
    text-align: left;
    margin-left: 45px;
    margin-bottom: 20px;
}

.infotext-ourservices p{
    font-family: 'Poppins', sans-serif;
   color: aliceblue;
   font-size: 29px;
   text-align: left;
   padding-right: 600px;
   margin-left: 45px;
}

.infotext-ourservices img{
   position: absolute;
   top: 260px;
   right: 120px;
   width: 363px;
   height: 469px;
}

.infotext-celphone h5{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 25px;
    color: #98DFFD;
    text-align: center;
    margin-bottom: 15px;
}


.infotext-celphone p{
    font-family: 'Poppins', sans-serif;
    color: aliceblue;
    font-size: 15px;
    text-align: center;
    padding: 15px;
    margin-bottom: 0px;
 }

 .infotext-aboutus h5{
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    color: #98DFFD;
    text-align: center;
 }

 .infotext-aboutus p{
    font-family: 'Poppins', sans-serif;
    color: aliceblue;
    font-size: 15px;
    text-align: center;
 }

 .infoabout-cellphone h5{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 25px;
    color: #98DFFD;
    text-align: center;
 }

 .infoabout-cellphone p{
    font-family: 'Poppins', sans-serif;
    color: aliceblue;
    font-size: 15px;
    text-align: center;
    padding: 20px;
 }

 