@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

.infotext-ourservices h5{
    font-family: 'Poppins', sans-serif;
    font-weight:bolder;
    font-size: 80px;
    color: #98DFFD;
    text-align: left;
    margin-left: 45px;
    margin-bottom: 20px;
}

.infoabout-celphone h5{
   font-family: 'Poppins', sans-serif;
   font-weight:bolder;
   font-size: 80px;
   color: #98DFFD;
   text-align: left;
   margin-left: 45px;
   margin-bottom: 20px;
} 

.infotext-ourservices p{
    font-family: 'Poppins', sans-serif;
   color: aliceblue;
   font-size: 29px;
   text-align: left;
   padding-right: 600px;
   margin-left: 45px;
}

.infotext-celphone h5{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 25px;
    color: #98DFFD;
    text-align: center;
    margin-bottom: 1px;
 
}


.infotext-celphone p{
    font-family: 'Poppins', sans-serif;
    color: aliceblue;
    font-size: 15px;
    text-align: center;
    padding: 15px;
    margin-bottom: 40px;
 }


 .infotext-celphone img{
   display: none;
}

 .infotext-aboutus h5{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 65px;
    color: #98DFFD;
    margin-left: 40px;
    
 }

 .infoabout-cellphone{
   display: none;
 }

 @media (min-width:768px){


   .infotext-celphone h5{
      font-size: 50px;
   }

   .info-text{
      display: flex;
      flex-direction: column;
      align-items: start;
      min-width: 1000px;
      gap: 0;
      
   }

   .info-text p{
      text-align: left;
      padding: 0;
      margin: 0;

   }

   .info-text h5{
      text-align: left;
      padding: 0;
      margin: 0;

   }

   .infotext-ourservices{
      display: flex;
      flex-direction: row;
   }

   .infotext-ourservices{
      display: flex;
      flex-direction: row;
      max-height: 500px;
      max-width: 1000px;
      margin-left: 350px;
      margin-top: 100px

   }
 }

 /* .infoabout-cellphone h5{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 25px;
    color: #98DFFD;
    text-align: center;
 }

 .infoabout-cellphone p{
    font-family: 'Poppins', sans-serif;
    color: aliceblue;
    font-size: 15px;
    text-align: center;
    padding: 20px;
 } */

