.card-portfolio {
    width: 90%;
    margin-left: 5%;
}
.title-portfolio-comp{
    font-family: "Poppins", sans-serif;
        font-weight: 600;
        font-size: 25px;
        font-style: normal;
        margin-bottom: 5%;
        color: #98DFFD;
        text-shadow: 1px 1px 1px #00000091;
        justify-content: center;
        display: flex;
}

.arrow-title{
    display: flex;
    flex-direction: row;
}



.arrow-btn{
    background-color: transparent;
    border: none;
    
}

.descrip-portfolio{
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 15px;
    margin-top: -4%;
}

.all-text{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding: 3% 5%;
    line-height: 1.8;
}

.all-text .made-for {
    margin-top: 2%;
    margin-bottom: 4%;
    font-size: 15px;
} 

.img-card-port{
    height:237px;
    border-radius:  10px 10px 0 0 ;
    
}

.made-for{
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    margin-top: -1%;
}
.card-portfolio{
    display: flex;
    flex-direction: column;
    background-color: #353269;
    border-radius: 10px;
}

.icons{
    display: flex;
    flex-direction: row;
    gap: 3%;
    margin-left: 5%;
    margin-top: -2%;
    margin-bottom: 6%;
}

.icons-port{
    height: 27.74px;
}

.organice-desktop{
    display: flex;
    flex-direction: column;    
}

@media (min-width: 768px){

    .img-card-port{
        display: block;
        height: 15vw;
        width: 18vw;
        border-radius: 0px;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
    }

    .card-portfolio{
        display: flex;
        flex-direction: row;
        background-color: #353269;
        border-radius: 10px;
        height: 60%;
        margin-bottom: 3%;
    }


    .title-portfolio-comp {
        font-family: "Poppins", sans-serif;
        font-weight: 600;
        font-size: 45px;
        font-style: normal;
        color: #98DFFD;
        text-shadow: 1px 1px 1px #00000091;
        justify-content: center;
        display: flex; 
        white-space: nowrap; /* Evita que el texto se divida en varias líneas */
        overflow: hidden; /* Oculta el desbordamiento del contenido */
        text-overflow: ellipsis; /* Añade puntos suspensivos (...) al final si el texto es demasiado largo */
        max-width: 100%; /* Ajusta el ancho máximo para que funcione correctamente con overflow */
    }
    
    .arrow-btn{
        background-color: transparent;
        border: none;
        display: none;
        
    }

    .all-text {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        padding: 5%;
        margin-top: -4%;
        margin-bottom: 3%;
        line-height: 2;
    }
    
    .all-text .made-for {
        margin-top: 2%;
    }  

    .icons{
        display: flex;
        flex-direction: row;
        gap: 4%;
        margin-left: 5%;
    }

    .icons-port{
        height: 35%;
    }

    .organice-desktop{
        display: flex;
        flex-direction: column;
        height: 300px;
    }

}