.title-brand{
    font-family: "Poppins", sans-serif;
        font-weight: 700;
        font-size: 25px;
        font-style: normal;
        color: #98DFFD;
        right: 92px;
        position: absolute;
        top: 88px;
        text-shadow: 1px 1px 1px #00000091;
}
.hamburguer-btn{
    background-color: rgba(0, 0, 0, 0);
    border: none;
}


.hamburguer-img{
    width: 20px;
    height: 20px;
}


.banner-img{
    width: 439px;
    height: 143px;
    margin-left: -2%;
}

.sec-banner-img{
    margin-left: 6.5%;
    display: flex;
  width: 356px;
  height: 179px;
}

.components-sec{
    margin-top: 7%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

@media (min-width:768px){
    .title-brand{
        font-family: "Poppins", sans-serif;
        font-weight: 700;
        font-size: 96px;
        font-style: normal;
        color: #98DFFD;
        position: absolute;
        text-shadow: 1px 1px 1px #00000091;
        left: 478px;
    }
    .hamburguer-btn{
        background-color: rgba(0, 0, 0, 0);
        border: none;
    }
    
    
    .hamburguer-img{
        width: 20px;
        height: 20px;
        display: none;
    }
    
    
    .banner-img{
        width: 1956px;
      height: 374px;
        margin-left: -2%;
    }
    
    .sec-banner-img{
        margin-left: 56.5%;
        display: flex;
        width: 538px;
        height: 462px;
        top: 598px;
        position: absolute;
    }
    
    
    
  
    
    .components-sec{
        display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 2%;
 
    
    }

    .mid-page{
        display: flex;
        flex-direction: row;
    }


};