@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

.about-we-are {
    display: none;
}


.profile-computer {
    display: none;
}

.map-about{

    width: 320px;
    height: 194px;
    margin-left: 30px;
    margin-bottom: 30px;
    
}



.card-impact{
   margin-bottom: 40px;
 }



.button-name {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    
    color: white;
    background: linear-gradient(to right, #5997F3, #613DC1)
    
}

.section-img{
    background-color: rgba(217, 217, 217, 0.1);

}
.purpose-about {
    color: #98DFFD;
    font-family: 'Poppins', sans-serif;
    font-weight:bolder;
    font-size: 23px;
    margin-left: 20px;
    margin-bottom: 30px;

}

.about-mission img{
    width: 354px;
    height: 257.37px;
    margin-left: 18px;
    margin-bottom: 15px;

}

.about-mission h1{
    font-family: 'Poppins', sans-serif;
    font-weight:bolder;
    color: #98DFFD;
    font-size: 25px;
    margin-left: 20px;

}

.about-mission p{
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size: 15px;
    margin-left: 20px;
    margin-bottom: 30px;
}

.about-vision img{
    width: 354px;
    height: 257.37px;
    margin-left: 18px;
    margin-bottom: 15px;

}

.about-vision h1{
    font-family: 'Poppins', sans-serif;
    font-weight:bolder;
    color: #98DFFD;
    font-size: 25px;
    margin-left: 20px;
}

.about-vision p{
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size: 15px;
    margin-left: 20px;
    margin-bottom: 30px;
}


.title-benefits{
    font-family: 'Poppins', sans-serif;
    font-weight:bolder;
    color: #98DFFD;
    text-align: center;
    font-size: 25px;
    margin-left: 20px;
    padding-right: 50px;
    padding-left: 50px;
    margin-bottom: 30px;
}

.about-creative{
    background-color: rgba(217, 217, 217, 0.2);
    height: 50px;
    width: 350px;
    border-radius: 10px;
    margin-left: 20px;
    margin-bottom: 20px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.about-creative img{
    display: none;
    
}

.about-creative h1{
    font-family: 'Poppins', sans-serif;
    font-weight:bolder;
    color: #858BE3;
    font-size: 20px;
    margin-left: 20px;
    text-align: center;
    
}

.about-creative p{
  display: none;
    
}


.about-client{
    background-color: rgba(217, 217, 217, 0.2);
    height: 50px;
    width: 350px;
    border-radius: 10px;
    margin-left: 20px;
    margin-bottom: 20px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.about-client img{
    display: none;
}

.about-client h1{
    font-family: 'Poppins', sans-serif;
    font-weight:bolder;
    color: #858BE3;
    font-size: 20px;
    margin-left: 20px;
    text-align: center;
}

.about-client p{
    display: none;
}

.about-results{
    background-color: rgba(217, 217, 217, 0.2);
    height: 50px;
    width: 350px;
    border-radius: 10px;
    margin-left: 20px;
    margin-bottom: 20px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.about-results img{
    display: none;
}

.about-results h1{
    font-family: 'Poppins', sans-serif;
    font-weight:bolder;
    color: #858BE3;
    font-size: 20px;
    margin-left: 20px;
    text-align: center;
}

.about-results p{
    display: none;
}



    

@media (min-width:768px){
    .about-infocard{
        display: flex;
        flex-direction: column;
    }

    .about-we-are{
        display: flex;
    }
    .about-cellphone{
        display: none;
    }

    .profile-computer{
        display: flex;
       flex-direction: row;
       align-items: center;
    }

    .profile-mobile{
        display: none;
    }

    


    .section-img{
       width: 300px;
    
    }

    .profile-map{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        margin-bottom: 100px;
     }

     .purpose-about {
        color: #98DFFD;
        font-family: 'Poppins', sans-serif;
        font-weight:bolder;
        font-size: 43px;
        margin-left: 20px;
        margin-bottom: 30px;
        text-align: center;
        margin-left: 70px;
    
     
     }

     .map-about{
        width: 382px;
        height: 215px;
        margin-bottom: 100px;
     }

     .card-transforming{
        width: 482px;
        height: 215px;
        

     }

     .about-infocard{
        display: flex;
        flex-direction: column;
        max-height: 200px;
     }

     .card-impact{
        margin-top: 1px;
        width: 482px;
        height: 215px;
     }

     .our-purpose{
       display: flex;
       flex-direction: row;
       gap: 50px;
     }

     .about-purpose{
        display: flex;
        flex-direction: column;
        align-items: center;
     }

     .about-mission{
        display: flex;
        flex-direction: row;
    
    }


     .about-mission img{
        width: 354px;
        height: 197.37px;
        margin-left: 18px;
        margin-bottom: 15px;
    
    }
    
    .about-mission h1{
        font-family: 'Poppins', sans-serif;
        font-weight:bolder;
        color: #98DFFD;
        font-size: 25px;
        margin-left: 20px;
    
    }
    
    .about-mission p{
        font-family: 'Poppins', sans-serif;
        color: white;
        font-size: 15px;
        margin-left: 20px;
        margin-bottom: 30px;
    }

    .about-vision{
        display: flex;
        flex-direction: row;
    
    }
    
    

    .about-vision img{
        width: 354px;
        height: 197.37px;
        margin-left: 18px;
        margin-bottom: 15px;
    
    }
    
    .about-vision h1{
        font-family: 'Poppins', sans-serif;
        font-weight:bolder;
        color: #98DFFD;
        font-size: 25px;
        margin-left: 20px;
    }
    
    .about-vision p{
        font-family: 'Poppins', sans-serif;
        color: white;
        font-size: 15px;
        margin-left: 20px;
        margin-bottom: 30px;
    }

    .about-creative{
        background-color: rgba(217, 217, 217, 0.2);
        height: 350px;
        width: 280px;
        border-radius: 10px;
        margin-left: 240px;
        margin-bottom: 20px; 
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .about-creative img{
        display: flex;
        margin-top: -10px;
        width: 55px;
        height: 53px;
        margin-bottom: 30px;
        
    }
    
    .about-creative h1{
        font-family: 'Poppins', sans-serif;
        font-weight:bolder;
        color: #858BE3;
        font-size: 18px;
        margin-left: 1px;
        text-align: center;
        margin-bottom: 10px;
        
    }
    
    .about-creative p{
        display: flex;
        font-family: 'Poppins', sans-serif;
        color: white;
        font-size: 16px;
        margin-left: 1px;
        text-align: center;
        padding: 10px;
        
    }
    
    
    .about-client{
        background-color: rgba(217, 217, 217, 0.2);
        height: 350px;
        width: 280px;
        border-radius: 10px;
        margin-left: 80px;
        margin-bottom: 20px; 
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .about-client img{
        display: flex;
        margin-top: -10px;
        width: 55px;
        height: 53px;
        margin-bottom: 30px;
    }
    
    .about-client h1{
        font-family: 'Poppins', sans-serif;
        font-weight:bolder;
        color: #858BE3;
        font-size: 18px;
        margin-left: 1px;
        text-align: center;
        margin-bottom: 10px;
    }
    
    .about-client p{
        display: flex;
        font-family: 'Poppins', sans-serif;
        color: white;
        font-size: 16px;
        margin-left: 1px;
        text-align: center;
        padding: 10px;
    }
    
    .about-results{
        background-color: rgba(217, 217, 217, 0.2);
        height: 350px;
        width: 280px;
        border-radius: 10px;
        margin-left: 80px;
        margin-bottom: 20px; 
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .about-results img{
        display: flex;
        margin-top: -10px;
        width: 55px;
        height: 53px;
        margin-bottom: 30px;
    }
    
    .about-results h1{
        font-family: 'Poppins', sans-serif;
        font-weight:bolder;
        color: #858BE3;
        font-size: 18px;
        margin-left: 1px;
        text-align: center;
        margin-bottom: 10px;
    }
    
    .about-results p{
        display: flex;
        font-family: 'Poppins', sans-serif;
        color: white;
        font-size: 16px;
        margin-left: 1px;
        text-align: center;
        padding: 10px;
        
    }

    .cards-benefits{
       display: flex;
       flex-direction: row;
    }
    
}