.body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-us{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
}

.profile-map{
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    max-width: 390px;
    min-width: 390px;
    gap: 20px;
}

.purpose-about, .title-benefits{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 25px;
    color: #98DFFD;
    text-align: center;
    margin-bottom: 1px;
}

.purpose-about{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mission-vision{
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-top: 60px;
}

.benefits{
    display: flex;
    flex-direction: column;
    align-items: start;

}

@media (min-width:768px){
    .profile-map{
        max-width: 1300px;
        min-width: 1300px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .our-purpose{
        display: flex;
        flex-direction: row;
    }

    .about-purpose{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .cards-benefits{
        display: flex;
        flex-direction: row;
        gap: 50px;
    }

    .benefits{
        align-items: center;
        gap: 20px;
    }
}