.profile-map{
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    max-width: 350px;
    gap: 20px;
}

.about-purpose{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 25px;
    color: #98DFFD;
    text-align: center;
    margin-bottom: 1px;
}

.purpose-about{
    display: flex;
    flex-direction: column;
    align-items: center;
}