.input-admin{
  border: 1px solid #5997F3;
  background-color: rgb(133, 139, 227, 0.50);
  border-radius: 8px;
  height: 34px;
  width: 72vw;
}

.input-admin::placeholder{
    color: #5997F3;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 15px;
    font-style: normal;
    display: flex;
   justify-content: center;
   align-items: center;
   align-content: center;
}




  @media (min-width: 768px){

    .input-admin{
      border: 1px solid #5997F3;
      background-color: rgb(133, 139, 227, 0.50);
      border-radius: 8px;
      height: 34px;
      width: 30vw;
    }
    
    .input-admin::placeholder{
        color: #5997F3;
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        font-size: 15px;
        font-style: normal;
        display: flex;
       justify-content: center;
       align-items: center;
       align-content: center;
    }
    
    
  
  }