.input-port {
    border: 1px solid transparent; /* Hacer el borde invisible */
    background-color: transparent; /* Fondo transparente */
    border-radius: 8px;
    height: 34px;
    outline: none; /* Elimina el borde del enfoque */
    margin-top: -1%;
    width: 40vw;
    color: #5997F3; /* Color del texto */
    padding: 0 10px; /* Añadir padding para que el texto no esté pegado a los bordes */
}

.input-port::placeholder {
    color: #5997F3;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 15px;
    font-style: normal;
}

.input-port:focus {
    border: 1px solid transparent; /* Mantiene el borde invisible cuando se enfoca */
    outline: none; /* Asegura que no haya borde de enfoque */
}

.div-input-port{
display: flex;
flex-direction: row;
border: 1px solid #5997F3;
    background-color: rgb(133, 139, 227, 0.50);
    border-radius: 8px;
    height: 34px;
    width: 40vw;
}

.search-img{
    height: 20px;
    width: 5vw;
    position: absolute;
    top: 283px;
    left: 15px;
}

@media (min-width: 768px){

    .input-port {
        border: 1px solid transparent; /* Hacer el borde invisible */
        background-color: transparent; /* Fondo transparente */
        border-radius: 8px;
        height: 34px;
        outline: none; /* Elimina el borde del enfoque */
        margin-top: 1%;
        width: 40vw;
        color: #5997F3; /* Color del texto */
        padding: 0 10px; /* Añadir padding para que el texto no esté pegado a los bordes */
    }
    
    .input-port::placeholder {
        color: #5997F3;
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        font-size: 15px;
        font-style: normal;
    }
    
    .input-port:focus {
        border: 1px solid transparent; /* Mantiene el borde invisible cuando se enfoca */
        outline: none; /* Asegura que no haya borde de enfoque */
    }
    
    .div-input-port{
    display: flex;
    flex-direction: row;
    border: 1px solid #5997F3;
        background-color: rgb(133, 139, 227, 0.50);
        border-radius: 8px;
        height: 46px;
        width: 25vw;
    }
    
  
   
    .search-img {
        width: 1vw;
        position: absolute;
        top: 731px;
        left: 493px;
        display: block;
      }
    

    

}