.info-card{
    background-color: rgba(217, 217, 217, 0.05);
    border: 1px solid rgba(255, 242, 242, 0.08);
    border-radius: 15px;
    padding: 5% 5%;
    margin-bottom: 5%;
    align-items: left;
}

.infocard-title{
    color: #858BE3;
    font-size: 120%;
}

.infocard-text{
    color: #ffffff;
    font-size: 100%;
}