@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

.footer-desktop {
    background-color: #613DC1; 
    text-align: left;
    color: white; 
    padding: 50px 108px;
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 30px; 
    font-family: 'Poppins', sans-serif;
    width: 100%;
    box-sizing: border-box; 

  }
  
  .footer-desktop h3 {
    font-size: 45px; 
    font-weight: bold; 
    margin-left: 30px;
  }
  
  .footer-desktop ul {
    list-style-type: none;
    padding: 0;
    font-size: 30px; 
    margin-left: 30px;
  }

  .footer-desktop p {
    list-style-type: none;
    padding-bottom: 5px;
    font-size: 30px; 
    margin-left: 30px;
  }
  
  .footer-desktop li {
    margin-bottom: 5px;
  }

  .footer-desktop button {
    margin-bottom: px;
    background-color: #613DC1;
    width: 300px;
    height: 35px;
    padding: 0 0; 
    font-size: 30px; 
    text-align: left; 
  }
  
  
  .footer-copyright {
    grid-column: 1 / span 3; 
    margin-top: 3%;
    text-align: center; 
  }
  
  .logo-section img {
    width: 80%; 
    margin-top: 10%;
    margin-bottom: 30px;
  }
  
  .social-icons {
    display: flex;
    gap: 30px;
  }
  
  .social-icons svg {
    width: 60px;
    height: 60px;
    margin-right: 10px;
  }
  
  @media only screen and (max-width: 844px) {
    .footer-desktop {
      display: none;
    }
  }