.big-services{
    margin-top: 300px;
}

.title-transform{
    color: #98DFFD;
}

.who-we-are{
    display: none;
}

.transform{
    display: none;
}

.ourservices-button{
    display: flex; 
    justify-content: flex-end;
    margin-right: 30px;
    margin-top: 15px;
    margin-bottom: 50px;    
}

.services-card{
    background-color: rgba(217, 217, 217, 0.1);
    width: 356px; 
    display: block; 
    margin: 0 auto;
    border-radius: 10px;

}

    

@media (min-width:768px){
    .who-we-celphone{
        display: none;
    }
   
}