@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');


.title-transform{
    color: #98DFFD;
}

.who-we-are{
    display: none;
}
.who-we-celphone{
    display: flex;
}


.transform{
    display: none;
}

.transform-letter {
    display: flex;            
    justify-content: center;  
    align-items: center;      
    width: 100vw;             
    height: 100vh;            
    text-align: center;       
    margin: 0;                
    padding: 0;               
}


.ourservices-button{
    display: flex; 
    justify-content: flex-end;
    margin-right: 30px;
    margin-top: 15px;
    margin-bottom: 50px;    
}

.services-container{
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 4%;
}

.services-card{
    background-color: #fff2f20a;
  border-radius: 10px;
}

.btn-seemore{
    margin-top: -10%;
    margin-bottom: 5%;
}

.decoration-service1-ourservice{
    display: none;
}

.decoration-service2-ourservice{
    display: none;
}

.decoration-service3-ourservice{
    display: none;
}

@media (min-width:768px){
    .who-we-celphone{
        display: none;
    }

    .who-we-are{
        display: flex;
        margin-bottom: 100px;
    }

    
.transform{
    display: flex;
    background-color: #5997F3;
    margin-bottom: 80px;
}

.transform-letter{
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size: 40px;   
    height: 200px;
    font-size: center;
    padding-right: 300px;
    padding-left: 300px;
    padding-top: 10px;

}

.services-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    /* Asegura que el contenedor ocupe todo el ancho disponible */
}

.services-card {
    background-color: #fff2f20f;;
    width: 53%; /* Ajusta el ancho de la tarjeta para que ocupe más espacio horizontal */
    max-width: 1200px; /* Define un ancho máximo para pantallas grandes */
    /* Permite que la altura se ajuste automáticamente */
    margin-bottom: 20px; /* Espacio entre las tarjetas */
    display: flex;
    align-items: center;
   
}


.btn-seemore{
    display: flex;
    margin-top: 15%;
}

.decoration-service1-ourservice{
    display: block;
    width: 10vw;
    position: absolute;
    top: 754px;
}

.decoration-service2-ourservice{
    display: block;
    width: 10vw;
    position: absolute;
    top: 1228px;
    right: 1px;
}

.decoration-service3-ourservice{
    display: block;
    width: 10vw;
    position: absolute;
    top: 1790px;
}



   
}